{% extends 'base.html' %}

{% block head %}

	<title>View Player</title>


{% endblock %}

{% block body %}

<div class='container'>
	<h1>Welcome</h1>
	<p>Here are your stats</p>
		<!-- We're calling the views player object -->
		{% if stats %}
		    <ul class='list-group'>
		    <!-- every line in stats object -->
		    {% for stat in stats %}

		        <li class=list-group-item><a href="/football/{{ team.id }}/">{{ stat.playerID }} {{ stat.position}}</a></li>
		    {% endfor %}
		    
		    </ul>
		{% else %}

		    <p>No stats at the moment.</p>
		
		{% endif %}

</div>

{% endblock %}